/* email_styles.css dosyası */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333333;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
}

h2 {
    color: #007bff;
}

p {
    margin-bottom: 10px;
}
button {
    background-color: #1a1a1a;
    text-decoration: none;
    padding: 10px 20px;
    color: #fff;
    font-size: 14px;
    border-radius: 10px;
}

button:hover {
    background-color: #303030;
}
a:hover {
    cursor: pointer;
}